<a href="https://colab.research.google.com/github/mariimao/JSC270_HW2_2022_MZhao/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JSC270 Assignment 2
Here is the [link](https://github.com/mariimao/JSC270_HW2_2022_MZhao) to my GitHub repo. Below are the import statements copied from the [starter code](https://github.com/UofT-JSC270/JSC270_HW2).

In [130]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [125]:
# Import data
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',
                       header=None)
df.columns = ['age','workclass','fnlwgt','education','education_num','marital_status',
                    'occupation','relationship','race','sex','capital_gain','capital_loss',
                    'hours_per_week','native_country','gross_income_group']

## Initial Data Exploration

In [126]:
# @title 1. Columns of the data

# Print basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 32561 non-null  int64
 1   workclass           32561 non-null  object
 2   fnlwgt              32561 non-null  int64
 3   education           32561 non-null  object
 4   education_num       32561 non-null  int64
 5   marital_status      32561 non-null  object
 6   occupation          32561 non-null  object
 7   relationship        32561 non-null  object
 8   race                32561 non-null  object
 9   sex                 32561 non-null  object
 10  capital_gain        32561 non-null  int64
 11  capital_loss        32561 non-null  int64
 12  hours_per_week      32561 non-null  int64
 13  native_country      32561 non-null  object
 14  gross_income_group  32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [128]:
# @title 2. Missing values
# missing values are indicated with ? as stated in the text description

# go through each column and count the number of '?' occurences
for column in df.columns:
    count = (df[column].values =='?').sum()
    # need to convert to string
    count = (df[column].astype(str).str.strip() =='?').sum()
    print(f"Column {column} has {count} '?' values.")
    df[column] = df[column].astype(str).str.strip().replace('?', np.nan)

# check that we've replaced values with a null
df.info()

Column age has 0 '?' values.
Column workclass has 1836 '?' values.
Column fnlwgt has 0 '?' values.
Column education has 0 '?' values.
Column education_num has 0 '?' values.
Column marital_status has 0 '?' values.
Column occupation has 1843 '?' values.
Column relationship has 0 '?' values.
Column race has 0 '?' values.
Column sex has 0 '?' values.
Column capital_gain has 0 '?' values.
Column capital_loss has 0 '?' values.
Column hours_per_week has 0 '?' values.
Column native_country has 583 '?' values.
Column gross_income_group has 0 '?' values.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 32561 non-null  object
 1   workclass           30725 non-null  object
 2   fnlwgt              32561 non-null  object
 3   education           32561 non-null  object
 4   education_num       32561 non-null  object
 5   marital_status      32561 non-null  object
 6   occupation          30718 non-null  object
 7   relationship        32561 non-null  object
 8   race                32561 non-null  object
 9   sex                 32561 non-null  object
 10  capital_gain        32561 non-null  object
 11  capital_loss        32561 non-null  object
 12  hours_per_week      32561 non-null  object
 13  native_country      31978 non-null  object
 14  gross_income_group  32561 non-null  object
dtypes: object(15)
memory usage: 3.7+ MB

In [ ]:
# @title 3. Data transformation and table

# Plot histogram of bore
plt.hist(num_data.bore, bins = 12)
plt.title('Histogram of Bore (Engine Cylinder Diameter)')
plt.xlabel('Bore (Inches)')
plt.ylabel('Relative Frequency')
plt.show()

In [ ]:
#@title 4. Explore distribution of fnlwgt

## Correlation

In [ ]:
#@title 1. Variable correlation

In [ ]:
#@title 2. Correlation coefficient

In [ ]:
#@title 3. Expected results

In [ ]:
#@title 4. Covariance matrix

## Regression

In [ ]:
#@title 1. Explanation of hours_per_week regression

In [ ]:
#@title 2. Control variable

In [ ]:
#@title 3. Model comparison